:root {
  /* Font stack */
  --roboto: "Roboto", Sans-Serif;
  --lora: "Lora", Serif;

  /* Color pallete */
  --black: #000000;
  --blue: #14213d;
  --darkBlue: #131f3a;
  --gold: #fca311;
  --darkGold: #e38e03;
  --grey: #e5e5e5;
  --white: #ffffff;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--lora);
  background-color: var(--blue);
  color: var(--white);
}

h1 h2 {
  font-family: var(--roboto);
}

.header {
  position: relative;
  background-color: var(--gold);
}

.headerLogo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  width: 7em;
  height: 7em;
}

.logoText {
  color: var(--black);
  text-align: center;
}

.logoText h1 {
  margin: 0;
}

.heroContainer {
  padding: 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--gold);
  color: var(--black);
  position: relative;
}

.heroImg {
  padding: 1em;
  width: 100%;
  max-width: 500px;
}

.heroContainer h1 {
  margin: 0;
}

.heroContainer h2 {
  margin: 0;
  color: var(--blue);
}

.aboutContainer {
  padding: 1em;
}

.aboutImg {
  width: 100%;
  border-radius: 5px;
}

.plansContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.planCards {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--gold);
  color: var(--blue);
  border-radius: 5px;
  max-width: 300px;
  padding: 1em;
  margin: 1em;
  height: 500px;
}

.orderLink {
  text-decoration: none;
  color: var(--white);
}

.planCards li {
  list-style: none;
  padding: 3px;
}

.planCards h2 h4 {
  margin: 0;
}

.faqContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1em;
  background-color: var(--gold);
}

.faqContainer h1 {
  color: var(--black);
}

.accordionsContainer {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
max-width: 90%;
}

.accordion {
  background-color: var(--white);
  color: var(--black);
  cursor: pointer;
  padding: .5em;
  border-radius: 5px;
  border: none;
  text-align: left;
  margin: 0.5em;
}

.accordion::after {
  content: "\02795";
  color: var(--black);
  float: right;
}

.active,
.accordion:hover {
  background-color: var(--blue);
  color: var(--white);
}

.activeForm,
.formFields:hover {
  background-color: var(--gold);
  color: var(--black);
}

.panel {
  background-color: var(--white);
  color: var(--black);
  max-height: 0;
  overflow: hidden;
  border-radius: 5px;
}

#hamburger {
  position: fixed;
  bottom: 10px;
  left: 10px;
  z-index: 99;
  width: 50px;
  height: 50px;
  padding: 0.25em;
  border-radius: 50%;
  background-color: var(--blue);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--white);
}

.navBar {
  display: none;
}

.navBarToggle {
  position: fixed;
  bottom: 5em;
  align-items: center;
  padding: 1rem;
  background-color: var(--blue);
  z-index: 98;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  animation: scaleIn 1s ease 0s 1 normal forwards;
  border-radius: 6px;
  border: 1px solid var(--white);
}

.navLinks {
  color: var(--white);
  font-family: var(--roboto);
  text-decoration: none;
  padding: 1rem;
  font-weight: 800;
}

.line {
  width: 25px;
  height: 2px;
  position: relative;
  border-radius: 3px;
  background-color: var(--white);
}

.line-1 {
  top: 0;
  margin-bottom: 10px;
  transition: top 0.2s ease 0.3s, transform 0.2s ease;
}

.line-2 {
  transition: all ease 0.2s;
  transform: scale(1);
}

.line-3 {
  margin-top: 10px;
  bottom: 0;
  transition: bottom 0.2s ease 0.3s, transform 0.2s ease;
}

#hamburger .line-1-transition {
  top: 12px;
  transform: rotate(45deg);
  transition: top 0.2s ease, transform 0.2s ease 0.3s;
}

#hamburger .line-2-transition {
  transform: scale(0);
}

#hamburger .line-3-transition {
  bottom: 12px;
  transform: rotate(135deg);
  transition: bottom 0.2s ease, transform 0.2s ease 0.3s;
}

.footer {
  width: 100%;
  background-color: var(--gold);
  color: var(--black);
  display: flex;
  justify-content: center;
  align-items: center;
}

.icons {
  padding: 1em;
  width: 2em;
}

.contactContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding: 1em;
}

.formFields {
  margin: 0.5em;
  padding: 0.5em;
  border-radius: 5px;
}

.orderBtns {
  background-color: var(--blue);
  font-family: var(--lora);
  color: var(--white);
  cursor: pointer;
  width: 100px;
  padding: 0.75em;
  border-bottom: var(--blue) 3px solid;
  border-left: var(--blue) 1px solid;
  border-right: var(--blue) 1px solid;
  border-radius: 6px;
  text-align: center;
  font-weight: 800;
}

.orderBtns:active {
  background-color: var(--darkBlue);
  border-bottom: var(--darkBlue) 1px solid;
  margin-top: 3px;
}

#submitBtn {
  background-color: var(--gold);
  font-family: var(--lora);
  cursor: pointer;
  width: 100px;
  padding: 0.75em;
  border-bottom: var(--gold) 3px solid;
  border-left: var(--gold) 1px solid;
  border-right: var(--gold) 1px solid;
  border-radius: 6px;
  text-align: center;
  font-weight: 800;
}

#submitBtn:hover {
  background-color: var(--darkGold);
  border-bottom: var(--gold) 1px solid;
  margin-top: 3px;
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .accordionsContainer {
    display: grid;
    grid-template-columns: 3(1fr);
    grid-template-rows: 1(1fr);
  }

  .accordion {
  padding: 1em;
  }

  .plansContainer {
    flex-direction: row;
    flex-wrap: nowrap;
  }

  .planCards {
    padding: 0.5em;
  }

  .heroContainer {
    position: relative;
  }

  .heroContainer h1 {
    position: absolute;
    top: 26%;
    left: 10%;
  }

  .heroContainer h2 {
    position: absolute;
    top: 35%;
    right: 10%;
  }

  .panel {
    max-width: 335px;
  }

  .aboutContainer {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  #submitBtn:hover {
    opacity: 0.8;
  }

  .orderBtns:hover {
    opacity: 0.8;
  }

  .navBar {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: var(--gold);
  }

  .navLinks {
    font-size: 20px;
    font-family: var(--roboto);
    color: var(--blue);
  }

  .navLinks:hover {
    text-decoration: underline;
  }

  #hamburger {
    display: none;
  }

  .accordionsContainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }

  .questions {
    display: flex;
    flex-direction: column;
  }

  .icons:hover {
    transform: scale(1.1);
  }

  .aboutImg {
    max-width: 50%;
  }

  .photosContainer {
    display: flex;
    margin: 0;
  }

  .aboutText {
    padding-left: 12em;
    padding-right: 12em;
  }

  .aboutContainer {
    padding-bottom: 0;
  }

  .heroContainer h1 {
    left: 15%;
  }

  .heroContainer h2 {
    right: 20%;
  }

  .aboutContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
