:root {
  /* Font stack */
  --roboto: "Roboto", Sans-Serif;
  --lora: "Lora", Serif;

  /* Color pallete */
  --black: #000000;
  --blue: #14213d;
  --gold: #fca311;
  --grey: #e5e5e5;
  --white: #ffffff;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--lora);
  background-color: var(--blue);
  color: var(--white);
}

h1 h2 {
  font-family: var(--roboto);
}

.header {
  position: relative;
  background-color: var(--gold);
}

.headerLogo {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.logo {
  width: 7em;
  height: 7em;
}

.logoText {
  color: var(--black);
  text-align: center;
}

.logoText h1 {
  margin: 0;
}

.heroContainer {
  padding: 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--gold);
  color: var(--black);
}

.heroImg {
  padding: 1em;
  width: 100%;
  max-width: 500px;
}

.heroContainer h1 {
  margin: 0;
}

.heroContainer h2 {
  margin: 0;
  color: var(--white);
}

.aboutContainer {
  padding: 1em;
  margin: 1em;
}

.aboutImg {
  width: 100%;
  border-radius: 5px;
}

.plansContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.planCards {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--gold);
  color: var(--blue);
  border-radius: 5px;
  max-width: 300px;
  padding: 1em;
  margin: 1em;
  height: 500px;
}

.planCards li {
  list-style: none;
  padding: 3px;
}

.planCards h2 h4 {
  margin: 0;
}

.prices {
  color: var(--white);
}

.faqContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1em;
}

.accordion {
  background-color: var(--grey);
  color: var(--black);
  cursor: pointer;
  padding: 1em;
  border-radius: 5px;
  border: none;
  text-align: left;
  margin: 0.5em;
}

.accordion::after {
  content: "\02795";
  color: var(--black);
  float: right;
}

.active,
.accordion:hover {
  background-color: var(--gold);
}

.panel {
  background-color: var(--grey);
  color: var(--black);
  max-height: 0;
  overflow: hidden;
  border-radius: 5px;
}

#hamburger {
  position: fixed;
  bottom: 10px;
  left: 10px;
  z-index: 99;
  width: 50px;
  height: 50px;
  padding: 0.25em;
  border-radius: 50%;
  background-color: var(--black);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.navBar {
  display: none;
}

.navBarToggle {
  position: fixed;
  bottom: 5em;
  align-items: center;
  padding: 1rem;
  background-color: var(--gold);
  z-index: 98;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  animation: scaleIn 1s ease 0s 1 normal forwards;
  border-radius: 5px;
}

.navLinks {
  color: var(--black);
  font-family: var(--roboto);
  text-decoration: none;
  padding: 1rem;
}

.line {
  width: 25px;
  height: 2px;
  position: relative;
  border-radius: 3px;
  background-color: var(--gold);
}

.line-1 {
  top: 0;
  margin-bottom: 10px;
  transition: top 0.2s ease 0.3s, transform 0.2s ease;
}

.line-2 {
  transition: all ease 0.2s;
  transform: scale(1);
}

.line-3 {
  margin-top: 10px;
  bottom: 0;
  transition: bottom 0.2s ease 0.3s, transform 0.2s ease;
}

#hamburger .line-1-transition {
  top: 12px;
  transform: rotate(45deg);
  transition: top 0.2s ease, transform 0.2s ease 0.3s;
}

#hamburger .line-2-transition {
  transform: scale(0);
}

#hamburger .line-3-transition {
  bottom: 12px;
  transform: rotate(135deg);
  transition: bottom 0.2s ease, transform 0.2s ease 0.3s;
}

.footer {
  width: 100%;
  background-color: var(--gold);
  color: var(--black);
  display: flex;
  justify-content: center;
  align-items: center;
}

.icons {
  padding: 1em;
  width: 2em;
}

